*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/*#region Utilities*/

.col-side{
    width: 230px;
    background-color: black;
    height: calc(100vh - 90px);
}

.col-main{
    width:calc(100% - 230px);
    background-color: #141922;
}



.vp{
    overflow: auto;
    z-index: 1;
    height: calc(100vh - 180px);
}

.col-2{
    width: calc(100% / 12 * 2);
    margin-top: 1rem;
    padding: 0 1rem;
}

.column{
    flex-direction: column;
}

.grid{
    display: grid;
}

.wrap{
    flex-wrap: wrap;
}

.row{
    display: flex;
}

.row-foot{
    display: flex;
    height: 100%;
    width: 100%;
}

.py{
    padding: 0 0.2rem;
}

.row-side{
    height: 100%;
    display: flex;
}

.d-flex{
    display: flex;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.align-items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.container{
    height: 100%;
}

.container-logo{
    height: 90px;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mt-7{
    margin-top: 7rem;
}

.ml-1{
    margin-left: 1rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mr-2{
    margin-right: 2rem;
}

.mr-1{
    margin-right: 1rem;
}

.ml{
    margin-left: 1rem;
}

.wth{
    width: 100%;
}

.gap1{
    gap: 1rem;
}

.gap1-2{
    gap: 1.5rem;
}

.gap{
    gap: 0.5rem;
}

.gap4{
    gap: 4rem;
}

.unstyled{
    text-decoration: none;
}

ul{
    list-style: none;
    cursor: pointer;
}

li:hover{
    color: white;
}

.underscore{
    border-bottom: 2px solid #8aca2c;
}

.img-fluid img{
    width: 100%;
}

.img-radius img{
    width: 100%;
    border-radius: 50%;
}

.text-center{
    text-align: center;
}

/*#endregion*/

/*#region Sidebar*/

.text-side{
    color: #717378;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.side-xl-text{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.col-side span:hover{
    color: white;
    cursor: pointer;
}

.text-side:hover{
    color: white;
}


.col-side a{
    padding-left: 1rem;
}

.col-side a:hover{
    border-left: 2px solid #8aca2c;
}

.col-side h3{
    color: white;
    margin-top: 1rem;
    padding-left: 1rem;
}

.container-playlist{
    height: 35px;
    width: 35px;
    background-color: #717378;
    margin-left: 1rem;
}

.col-side span{
    color: #717378;
    font-size: 15px;

}

.col-side ul{
    color: #717378;
    margin-left: 1rem;
}

.icon-side{
    padding: 0.4rem;
    border: 1px solid #717378;
    border-radius: 50%;
    line-height: 0.3rem;
    margin-left: 0.9rem;
    cursor: pointer;
}

.icon-xl-side{
    padding: 0.2rem;
    border: 1px solid #717378;
    border-radius: 50%;
    line-height: 0.3rem;
    margin-left: 0.85rem;
    background-color: #717378;
    cursor: pointer;
}

.border-side{
    border-bottom: 1px solid #717378;
    margin: 0 0.7rem;
}

.mobile{
    display: none;
}

/*#region Main*/

.upgrade{
    height: 90px;
    background-color: #080b12;
    position: sticky;
    top: 0;
    z-index: 10;
}

.btn-upgrade{
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 0.75rem;
    font-weight: bold;
}

.btn-upgrade:hover{
    cursor: pointer;
    transform: scale(1.07);
}

.col-main .absolute{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.col-main h2{
    color: white;
}

.col-main p{
    color: #717378;
}

.col-main ul{
    color: #717378;
    font-weight: bold;
    padding: 1rem 0;
}

.col-main h3{
    color: white;
}

.col-main .card:hover{
    .absolute{
        display: block;
    }
    filter: brightness(80%);
    cursor: pointer;
}
/*#endregion*/

/*#region Debug*/



footer{
    height: 90px;
    background-color: #282828;
    width: 100%;
    position: sticky;
    bottom: 0;
}

.col-foot{
    width: calc(100% / 12 * 4);
}

.col-s-foot{
    width: 350
}

footer h4{
    color: white;
    font-weight: bold;
}

footer span{
    color: #717378;
    font-weight: bold;
}

.now-volume{
    width:30%;
    height: 8px;
    background-color: #c1c1c1;
    border-radius: 10px;
}

.now-volume:hover{
    background-color: #8aca2c;
    .btn-player{
        display: block;
    }
}

.tot-volume{
    width:100%;
    height: 8px;
    border-radius: 10px;
    background-color: #5a5a5a;
}

.container-foot{
    width: 100%;
}

.container-s-foot{
    width: 20%;
}

.bottom-player .tot-volume{
    width: 100%;
}

.bottom-player .now-volume{
    width: 20%;
}

 .btn-player{
    display: none;
    height: 150%;
    width: 30%;
    background-color: white;
    border-radius: 50%;
}

.effect-circle:hover{
    transform: scale(1.25);
}

span:hover{
    color: white;
}

i{
    color: #717378;
}

i:hover{
    color: white;
    cursor: pointer;
}

.bottom-player .btn-player{
    width: 10%;
    height: 160%;
    background-color: white;
    border-radius: 50%;
    display: ne;
}

.img-foot img{
    height: 45px;
}


/*#endregion*/

/* Queries */

@media screen and (max-width: 1100px) {
    .col-l-3{
        width: calc(100% / 12 * 3);
    }

    .row{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .col-m-6{
        width: 50%;
    }

    
}

@media screen and (max-width: 600px) {
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

    .text-side, .none{
        display: none;
    }

    .col-side{
        width: 65px;
    }

    .col-main{
        width: calc(100% - 65px);
    }

    .border-side{
        display: none;
    }

    .icon-side{
        margin-left: 1rem;
        margin-top: 2.2rem;
    }

    .img-foot img{
        height: 25px;
    }

    .text-foot{
        font-size: 12px;
    }
}